<div class="pagination">
    <div class="row">
        {% if reservations.has_other_pages %}
            <ul class="pagination">
                {% if reservations.has_previous %}
                    <li class="page-item">
                        <a href="?page={{reservations.previous_page_number}}&{{url_query_code}}" class="page-link">&laquo;</a>
                    </li>
                {% else %}
                    <li class="page-item disabled">
                        <a class="page-link">&laquo;</a>
                    </li>
                {% endif %}
                {% for i in page_range %}
                    {% if reservations.number == i %}
                        <li class="page-item active">
                            <a class="page-link">{{i}}</a>
                        </li>
                    {% else %}
                        <li class="page-item ">
                            <a href="?page={{i}}&{{url_query_code}}" class="page-link">{{i}}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                {% if reservations.has_next %}
                <li class="page-item">
                    <a href="?page={{reservations.next_page_number}}&{{url_query_code}}" class="page-link">&raquo;</a>
                </li>
                {% else %}
                <li class="page-item disabled">
                    <a class="page-link">&raquo;</a>
                </li>
                {% endif %}
            </ul>
        {% endif %}
    </div>
</div>